# Virtual environment
streamlit/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
.eggs/
*.egg-info/
*.egg

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
